.features {
  width: 100%;
  padding-bottom: 77px;
  background: url(/src/assets/images/features_bg.png) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__list {
      display: flex;
      flex-direction: column;
      margin-top: 10px;

      ul {
        display: flex;
        margin-top: 19px;
      }

      li {
        margin-left: 67px;
      }

      &__item {
        position: relative;

        &__image {

        }

        &__text {
          @include roboto-text(normal, 24px, $white);
          line-height: 31px;
          text-align: center;
          position: absolute;
          top: 82px;
          left: 12px;
          right: 12px;
          bottom: 136px;
        }

        &__more-icon {
          position: absolute;
          top: 217px;
          left: 146px;
          right: 146px;
          bottom: 34px;
          border-radius: 100%;
          background-color: $black;
          width: 20px;
          height: 20px;
          padding: 5px;
          text-align: center;
        }
      }
    }
  }
}
