.uber {
  width: 1922px;
  height: 5255px;

  .screen-one {
    width: 1922px;
    height: 851px;
    display: flex;

    .navbar {

      .top-navbar {
        width: 1922px;
        height: 53px;

        background: #212121;

        .top-navbar-content {
          width: 1029px;
          height: 31px;

          font-family: Roboto;
          font-style: normal;
          font-weight: 300;
          font-size: 15px;
          line-height: 15px;
          /* or 100% */

          display: flex;
          align-items: center;
          justify-content: center;
          color: #FFFFFF;


        }
      }

      .bottom-navbar {
        width: 1922px;
        height: 87px;

        background: #000000;
        mix-blend-mode: normal;
        opacity: 0.6;
      }
    }

  }

}