.container {
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
}

.hat {
  width: 100%;

  &__top {
    width: 100%;
    background: #212121;

    &__content {
      width: 100%;
      font-family: Roboto, monospace;
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      line-height: 15px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: #fff;
    }
  }

  &__bottom {
    width: 100%;
    background: #000;
    mix-blend-mode: normal;
    opacity: 0.6;
  }
}
